<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unb.cic.reminders2"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Reminder" >
        <activity
            android:name="br.unb.cic.reminders.ReminderMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.unb.cic.reminders.view.AddReminderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_add"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="br.unb.cic.reminders.view.EditReminderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_edit"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="br.unb.cic.reminders.view.ExternalAddReminderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reminder_edit"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="br.unb.cic.reminders.ADD_REMINDER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>